body{
    font-family: 'Quicksand', sans-serif !important;
    background-color: #1681FF;
}

.container{
    width: 868px;
    height: 542px;
  
    border-radius: 10px;
background: #FFF;
box-shadow: 0px 19px 25px 7px rgba(0, 70, 18, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

}

.sub-container{
    width: 417px;
height: 542px;
flex-shrink: 0;

background: url(bmi.png), rgb(255, 255, 255) 50% / cover no-repeat;

/* lg */

}
.sub-container2{
    width: 451px;
height: 542px;
flex-shrink: 0;
border-radius: 0px 10px 10px 0px;
background: #FFF;
    

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

}
h1{
    width: 312px;
    color: #1B3F57;
text-align: center;
font-family: Inter;
font-size: 19.951px;
font-style: normal;
font-weight: 700;
line-height: 26.602px; /* 133.333% */
text-transform: uppercase;
margin-top: 144px;
margin-left: 70px;
margin-right: 70px;

}
p{
    width: 85.998px;
    flex-shrink: 0;
    color: #1B3F57;
font-family: Inter;
font-size: 18.049px;
font-style: 100px;
font-weight: 500;
line-height: 21.234px; /* 117.647% */
margin-top: 42px;
margin-left: 82px;
display: flex;
flex-direction: row;
align-items: center;

}

#weight{
   
    width: 112.198px;
    height: 40.769px;
    padding: 10.192px 13.59px;
    align-items: center;
    gap: 6.795px;
    flex-shrink: 0;
    padding: 10.192px 13.59px;
    align-items: center;
    gap: 6.795px;
    flex-shrink: 0;
    border-radius: 3.397px;
    border: 0.849px solid #95C6FF;
    font-size: 13.049px;
    margin-left: 10px; 
}
#feet{
   
    width: 112.198px;
    height: 40.769px;
    padding: 10.192px 13.59px;
    align-items: center;
    gap: 6.795px;
    flex-shrink: 0;
    padding: 10.192px 13.59px;
    align-items: center;
    gap: 6.795px;
    flex-shrink: 0;
    border-radius: 3.397px;
    border: 0.849px solid #95C6FF;
    font-size: 13.049px;
    margin-left: 10px; 
}
select{
    display: flex;
width: 80.044px;
height: 40.769px;
padding: 10.192px 13.59px;
align-items: center;
gap: 6.795px;
flex-shrink: 0;
margin-left: 10px;
border-radius: 3.397px;
border: 0.849px solid #95C6FF;
font-size: 14.049px;
}
option {

    display: flex;
    width: 63.044px;
    height: 40.769px;
    padding: 10.192px 13.59px;
    align-items: center;
    gap: 6.795px;
    flex-shrink: 0;
    border-radius: 3.397px;
    border: 0.849px solid #95C6FF;
    margin-left: 10px;
    border-radius: 3.397px;
border: 0.849px solid #95C6FF;
}

button{display: flex;
    width: 300.302px;
    height: 40.769px;
    padding: 10.192px 20.385px;
    justify-content: center;
    align-items: center;
    gap: 6.795px;
    flex-shrink: 0;
    border-radius: 1.699px;
    background: #1681FF;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16.987px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.385px; /* 120% */
    border: none;
    margin-top: 30px;
margin-left: 82px;
}
#result{
margin-top: -3px;
    width: 300.302px;
    height: 40.769px;
    font-family: Inter;
    font-size: 23.987px;
    font-style: normal;
    
    line-height: 20.385px; /* 120% */
}
.bmi{
    width: 312px;
    color: #1B3F57;
text-align: center;
font-family: Inter;
font-size: 40.951px;
font-style: normal;
font-weight: 700;
line-height: 26.602px; /* 133.333% */
text-transform: uppercase;
margin-top: 180px;
margin-left: 70px;
margin-right: 70px;
    
}